.upgradeBoxes {
  display: flex;
  gap: 10px;
}
#bigCookie {
  height: 200px;
  width: 200px;
}
#bigCookie:active {
  transform: translateY(4px);
}
.mainStuff {
  display: flex;
  width: 100vw;
  gap: 10px;
  justify-content: center;
}
.shop {
  display: flex;
}
.cookieDisplays {
  display: flex;
  flex-direction: column;
}
