.upgradeBoxes {
  display: flex;
  gap: 10px;
}
#bigCookie {
  height: 100px;
  width: 100px;
}
.mainStuff {
  display: flex;
  width: 100vw;
}
.shop {
  display: flex;
}
.cookieDisplays {
  display: flex;
  flex-direction: column;
}
